@{
    ViewBag.Title = "Home Page";
}

<!-- begin #home -->
<div id="home" class="content has-bg home">
    <!-- begin content-bg -->
    <div class="content-bg">
        <img src="~/assets/img/mapua.jpg" alt="Home" />
    </div>
    <!-- end content-bg -->
    <!-- begin container -->
    @*<div class="container home-content">
        <h1 class="text-secondary">Migration</h1>
        <h3>Migrating Dreams into Reality</h3>
      
    </div>*@
    <!-- end container -->
</div>
<!-- end #home -->

@Html.Partial("_About")

@Html.Partial("_Service")



@Html.Partial("_Content1")

@Html.Partial("_Content2")

@Html.Partial("_Contact")
